:root {
    --dropcube-white: #ffffff;
    --dropcube-main-blue: #009FCF;
    --dropcube-grey: #999;
    --dropcube-black: #3c3c3c;
    --dropcube-grey-text: #666;
    --dropcube-grey-block: #f1f1f1;
    --dropcube-grey-border: #d3d3d3;
}