<dom-module id="dropcube-intro">

    <template>


        <style is="custom-style">
            :host {
                background-color: var(--dropcube-grey-block);
                display: block;
            }

            h4 {
                color: var(--dropcube-grey-text);
            }

            dropcube-container {
                height: 330px;
            }

            paper-dialog {
                z-index: 9999999999999999999;
                position: fixed;
                top: 25%;
                left: 25%;
                bottom: 25%;
                right: 25%;
                margin: 0px;
            }

            iron-overlay-backdrop {
                z-index: 9999999999999999999;
            }

            paper-button {
                background-color: var(--dropcube-main-blue);
                color: var(--dropcube-white);
            }

            iframe {
                width: 100%;
                height: auto;
            }

            .weather-cool {
                width: 100%;
                height: auto;
            }

            .play {
                vertical-align: sub;
            }

            .play-wrapper {
                cursor: pointer;
            }

            .video-container {
                height: 100%;
                padding: 0;
                margin: 0;
            }

            .video-container iframe,
            .video-container object,
            .video-container embed {
                position: relative;
                ;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        </style>

        <dropcube-container class="layout-row layout-align-center-center">

            <div class="layout-row layout-margin layout-align-center-center layout-align-space-around">
                <div class="hide-xs flex-20">
                    <iron-icon class="weather-cool" icon="dropcube-icons:weather-cool"></iron-icon>
                </div>
                <div class="flex-xs-100 flex-60">
                    <h4 class="flow-h">{{ dictionary.INTRO.TITLE }}</h4>
                    <p class="flow-text">{{ dictionary.INTRO.DESCRIPTION }}</p>
                    <p class="flow-text play-wrapper">
                        <a on-click="_openModal">
                            <iron-icon class="play" icon="dropcube-icons:play"></iron-icon> {{ dictionary.INTRO.VIDEO }}</a>
                    </p>
                </div>
            </div>

        </dropcube-container>

        <paper-dialog id="videoWrapper" always-on-top with-backdrop on-iron-overlay-closed="_onClose">

            <div class="video-container">

                <iframe src="{{_source}}" frameborder="0" allowfullscreen></iframe>

            </div>

        </paper-dialog>
    </template>


    <script>
        Polymer({
            is: "dropcube-intro",
            properties: {
                dictionary: {
                    type: Object
                },
                isOpen: {
                    type: Boolean,
                    value: false
                }
            },
            _openModal: function() {
                this.isOpen = true;
                this._source = "https://www.youtube-nocookie.com/embed/0gEn6MuWvao?rel=0";
                videoWrapper.open();
            },
            _onClose: function() {
                this._source = null;
            }

        });
    </script>

</dom-module>
