<dom-module id="dropcube-device-main-info">

    <template>


        <style is="custom-style">
            :host {
                --paper-radio-button-checked-color: var(--dropcube-main-blue);
                --paper-toggle-button-checked-button-color: var(--dropcube-main-blue);
            }

            paper-card {
                margin-bottom: 40px;
            }

            paper-toggle-button {
                width: 37px;
            }

            .card-content {}

            .labels {
                width: 150px;
            }

            .values {
                color: var(--dropcube-black);
            }
        </style>

        <iron-ajax id="putDevice" method="PUT" url="/s/devices/[[device.id]]" content-type="application/json;charset=UTF-8" handle-as="json" on-response="_onResponse" last-response="{{data}}" loading="{{loading}}"></iron-ajax>

        <dropcube-container>

            <div class="layout-row">
                <div class="layout-align-start-center">
                    <p class="flow-text labels">Dispositivo:</p>
                </div>
                <div class="flex values">
                    <p class="flow-text values">{{device.name}}</p>
                </div>
            </div>
            <div class="layout-row">
                <paper-card class="flex-xs-100 flex">
                    <div class="card-content">
                        <div class="layout-column">
                            <div class="layout-row layout-xs-column">
                                <div class="labels layout-align-start-center">
                                    <p class="flow-text labels">Dropcube ID:</p>
                                </div>
                                <div class="flex values">
                                    <p class="flow-text values">{{device.id}}</p>
                                </div>
                            </div>
                            <div class="layout-row layout-xs-column">
                                <div class="labels layout-align-start-center">
                                    <p class="flow-text labels">Modo:</p>
                                </div>
                                <div class="flex values layout-row layout-align-start-center">
                                    <paper-radio-group on-paper-radio-group-changed="_updateDevice" selected="{{device.mode}}" aria-labelledby="label2">
                                        <paper-radio-button noink class="flow-text" disabled="{{loading}}" name="NORMAL">Normal</paper-radio-button>
                                        <paper-radio-button noink class="flow-text" disabled="{{loading}}" name="RAINBOW">Rainbow</paper-radio-button>
                                        <paper-radio-button noink class="flow-text" disabled="{{loading}}" name="TEST_RAIN">Test lluvia</paper-radio-button>
                                        <paper-radio-button noink class="flow-text" disabled="{{loading}}" name="TEST_SNOW">Test Nieve</paper-radio-button>
                                        <paper-radio-button noink class="flow-text" disabled="{{loading}}" name="TEST_WIND">Test Viento</paper-radio-button>
                                        <paper-radio-button noink class="flow-text" disabled="{{loading}}" name="TEST_STORM">Test Tormenta</paper-radio-button>
                                        <paper-radio-button noink class="flow-text" disabled="{{loading}}" name="TEST_HOT">Test Calor</paper-radio-button>
                                    </paper-radio-group>
                                </div>
                            </div>
                            <div class="layout-row layout-xs-column">
                                <div class="labels layout-align-start-center">
                                    <p class="flow-text labels">Alertas</p>
                                </div>
                                <div class="flex values layout-row layout-margin">
                                    <p class="flow-text values">Por día</p>
                                    <paper-toggle-button noink disabled="{{loading}}" active="{{device.hourly}}" on-change="_updateDevice"></paper-toggle-button>
                                    <p class="flow-text values">Por hora</p>
                                </div>
                            </div>
                            <template is="dom-if" if="{{!device.hourly}}">
                                <div class="layout-column">
                                    <div class="layout-row layout-xs-column">
                                        <div class="labels layout-align-start-center">
                                            <p class="flow-text labels"></p>
                                        </div>
                                        <div class="flex values layout-column layout-margin">
                                            <p class="flow-text">Selecciona las horas en las que normalmente transitas por la calle</p>
                                            <dropcube-hour-selector disabled="{{loading}}" hours="{{device.hours}}" on-hour-changed="_updateDevice"></dropcube-hour-selector>
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
                </paper-card>
            </div>

        </dropcube-container>

    </template>


    <script>
        Polymer({
            is: "dropcube-device-main-info",
            properties: {
                dictionary: {
                    type: Object
                },
                device: {
                    type: Object
                },
                loading: {
                    type: Boolean,
                    notify: true
                }
            },
            _updateDevice: function(event) {

                this.$.putDevice.body = JSON.stringify(this.device);
                this.$.putDevice.generateRequest();

            },
            _onResponse: function() {
                this.device = (this.data && this.data.data) ? this.data.data : this.device;
            }

        });
    </script>

</dom-module>
