<dom-module id="dropcube-device-list">

    <template>


        <style is="custom-style">
            paper-button {
                background-color: var(--dropcube-main-blue);
                color: var(--dropcube-white);
            }

            paper-card {
                box-sizing: border-box;
                max-width: 220px;
                margin: 4px;
                flex: 0 0 auto;
                overflow: hidden;
                cursor: pointer;
            }

            .card-content {
                padding: 0!important;
                left: 50%;
                right: 50%;
                width: 600px;
                margin-left: -300px;
            }
        </style>

        <iron-ajax auto url="/s/devices" handle-as="json" last-response="{{devices}}" loading="{{loading}}"></iron-ajax>

        <dropcube-container>

            <div class="layout-row layout-wrap layout-margin layout-align-space-between">
                <template is="dom-repeat" items="[[devices.data]]" as="device">
                    <a href="/device/[[device.id]]">
                        <paper-card class="cyan flex-xs-100">
                            <div class="card-content">
                                <google-map-static api-key="AIzaSyCgLJCZYhd_cFHlI5JZXNsGuCqamoQiGpM" lat="[[device.lat]]" lng="[[device.lng]]" size-x="600" size-y="100"></google-map-static>
                            </div>
                            <div class="card-actions">
                                <span class="flow-text">[[device.name]]</span>
                            </div>
                        </paper-card>
                    </a>
                </template>
            </div>

        </dropcube-container>

    </template>


    <script>
        Polymer({
            is: "dropcube-device-list",
            properties: {
                dictionary: {
                    type: Object
                },
                loading: {
                    type: Boolean,
                    notify: true
                }
            }

        });
    </script>

</dom-module>
