<dom-module id="dropcube-hour-selector">

    <template>


        <style is="custom-style">
            :host {
                background-color: var(--dropcube-grey-block);
                display: block;
            }

            ul {}

            li {
                width: 45px;
                height: 45px;
                border: 1px solid var(--dropcube-grey-border);
                text-align: center;
                border-radius: 2px;
                cursor: pointer;
            }

            li[selected] {
                background-color: var(--dropcube-main-blue);
                color: var(--dropcube-white);
            }
        </style>

        <div>
            <ul class="layout-wrap layout-row layout-margin">
                <template is="dom-repeat" items="[[hors]]" as="item">
                    <li class="layout-row layout-align-center-center" on-click="_select" selected$="{{_isSelected(hours, index)}}"><span class="flex">[[item.value]]</span></li>
                </template>
            </ul>
        </div>

    </template>


    <script>
        Polymer({
            is: "dropcube-hour-selector",
            properties: {
                dictionary: {
                    type: Object
                },
                hors: {
                    type: Array,
                    value: [{
                        value: 0
                    }, {
                        value: 1
                    }, {
                        value: 2
                    }, {
                        value: 3
                    }, {
                        value: 4
                    }, {
                        value: 5
                    }, {
                        value: 6
                    }, {
                        value: 7
                    }, {
                        value: 8
                    }, {
                        value: 9
                    }, {
                        value: 10
                    }, {
                        value: 11
                    }, {
                        value: 12
                    }, {
                        value: 13
                    }, {
                        value: 14
                    }, {
                        value: 15
                    }, {
                        value: 16
                    }, {
                        value: 17
                    }, {
                        value: 18
                    }, {
                        value: 19
                    }, {
                        value: 20
                    }, {
                        value: 21
                    }, {
                        value: 22
                    }, {
                        value: 23
                    }]
                }
            },
            _isSelected: function(hours, index) {
                return hours[index];
            },
            _select: function(event) {
                var _index = event.model.get('item').value;
                this.hours[_index] = !this.hours[_index];
                this.fire('hour-changed');
            }

        });
    </script>

</dom-module>
