<dom-module id="dropcube-user-image">

    <template>


        <style is="custom-style">
            :host {
                display: block;
            }

            img {
                width: 100%;
                height: auto;
                border-radius: 50%;
            }
        </style>

        <div class="layout-column layout-align-center-center">
            <img src="{{src}}">
        </div>
    </template>


    <script>
        Polymer({
            is: "dropcube-user-image",
            properties: {
                src: {
                    type: String
                }
            }

        });
    </script>

</dom-module>
