<dom-module id="dropcube-header">

    <template>


        <style>
            a {
                color: var(--dropcube-white);
            }

            app-header {
                position: fixed;
                min-height: 64px;
                top: 0;
                left: 0;
                width: 100%;
                color: #fff;
                background-color: var(--dropcube-main-blue);
                --app-header-background-front-layer: {
                    background-color: var(--dropcube-main-blue);
                    background-position: left center;
                }
                ;
                z-index: 99999999999999999;
            }

            .logo-img {
                width: 35px;
                height: auto;
            }

            .main-title {
                margin-left: 30px;
                font-size: 31px;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .main-title i {
                font-weight: 100;
                font-style: normal;
            }

            paper-icon-button {
                color: var(--dropcube-white);
                --paper-icon-button-ink-color: white;
            }

            paper-progress {
              width: 100%;
              --paper-progress-active-color: var(--dropcube-main-blue);
            }

            @media (max-width: 639px) {
                .main-title {
                    font-size: 25px;
                }
                .logo-img {
                    width: 28px;
                }
            }
        </style>

        <app-header fixed shadow>
            <app-toolbar>
                <template is="dom-if" if="{{user.isLogged}}">
                    <a href="/devices">
                        <paper-icon-button icon="home"></paper-icon-button>
                    </a>
                </template>
                <div class="main-title flex layout-row layout-align-start-center layout-align-xs-center-center layout-margin">
                    <a href="/">
                        <iron-icon class="logo-img" icon="dropcube-icons:cube"></iron-icon>
                        <span class="exo">dropcube</span>
                    </a>
                </div>

                <dropcube-user-button user="{{user}}" dictionary="{{dictionary}}"></dropcube-user-button>
                <template is="dom-if" if="{{loading}}">
                  <paper-progress value="10" indeterminate bottom-item></paper-progress>
                </template>
            </app-toolbar>
        </app-header>

    </template>


    <script>
        Polymer({
            is: "dropcube-header",
            properties: {
                user: {
                    type: Object
                },
                dictionary: {
                    type: Object
                },
                loading : {
                  type: Boolean
                }
            }

        });
    </script>

</dom-module>
