<link rel="import" href="/bower_components/polymer/polymer.html">

<!-- .............. POLYMER COMPONENTS  .............. -->
<!--<link rel="import" href="/bower_components/parallax-element/parallax-element.html">-->


<!-- .............. APP COMPONENTS  .............. -->
<link rel="import" href="dropcube-container.html">

<dom-module id="dropcube-intro">

    <template>


        <style is="custom-style">
            :host {
                background-color: var(--dropcube-grey-block);
                display: block;
            }

            h4 {
                color: var(--dropcube-grey-text);
            }

            dropcube-container {
                height: 330px;
            }

            .weather-cool {
                width: 100%;
                height: auto;
            }
        </style>

        <dropcube-container class="layout-row layout-align-center-center">

            <div class="layout-row layout-margin layout-align-center-center layout-align-space-around">
                <div class="hide-xs flex-20">
                    <iron-icon class="weather-cool" icon="dropcube-icons:weather-cool"></iron-icon>
                </div>
                <div class="flex-xs-100 flex-60">
                    <h4 class="flow-h">{{ dictionary.INTRO.TITLE }}</h4>
                    <p class="flow-text">{{ dictionary.INTRO.DESCRIPTION }}</p>
                </div>
            </div>

        </dropcube-container>

    </template>


    <script>
        Polymer({
            is: "dropcube-intro",
            properties: {
                dictionary: {
                    type: Object
                }
            }

        });
    </script>

</dom-module>
