<dom-module id="dropcube-new-device">

    <template>


        <style is="custom-style">
            paper-button {
                background-color: var(--dropcube-main-blue);
                color: var(--dropcube-white);
            }
        </style>

        <dropcube-container>
            <div class="layout-row layout-align-start-center layout-align-space-between">
                <p class="flow-text">Tus dispositivos dropcube</p>
                <div>
                  <paper-button on-click="_onClick">Añadir nuevo dispositivo</paper-button>
                </div>
            </div>
        </dropcube-container>

    </template>


    <script>
        Polymer({
            is: "dropcube-new-device",
            properties: {
                dictionary: {
                    type: Object
                }
            },
            _onClick : function(){
              this.fire('clik');
            }

        });
    </script>

</dom-module>
