<link rel="import" href="/bower_components/polymer/polymer.html">

<!-- .............. POLYMER COMPONENTS  .............. -->
<!--<link rel="import" href="/bower_components/parallax-element/parallax-element.html">-->


<!-- .............. APP COMPONENTS  .............. -->

<dom-module id="dropcube-user-image">

    <template>

        <style include="dropcube-styles"></style>

        <style is="custom-style">
            :host {
                display: block;
            }

            img {
                width: 100%;
                height: auto;
                border-radius: 50%;
            }
        </style>

        <div class="layout-column layout-align-center-center">
            <img src="{{src}}">
        </div>
    </template>


    <script>
        Polymer({
            is: "dropcube-user-image",
            properties: {
                src: {
                    type: String
                }
            }

        });
    </script>

</dom-module>
