<dom-module id="dropcube-landing">

    <template>


        <style>
            .main-title {
                font-size: 11.0vh;
                margin-bottom: 8vh;
                color: var(--dropcube-white);
            }

            h3 {
                font-size: 7.0vh;
                color: var(--dropcube-white);
            }

            .logo-img {
                width: 15vh;
                height: auto;
            }

            @media (max-width: 639px) {
                .main-title {
                    font-size: 11.0vw;
                    color: var(--dropcube-white);
                }
                h3 {
                    font-size: 7.0vw;
                    color: var(--dropcube-white);
                }
                .logo-img {
                    width: 15vw;
                }
            }
        </style>

        <div class="layout-column layout-container layout-align-center-center">

            <h2 class="md-display-2 main-title light exo">dropcube</h2>
            <iron-icon class="logo-img" icon="dropcube-icons:cube"></iron-icon>
            <h3 class="header thin exo trademark-main">{{ dictionary.MAIN_PAGE.PREPARE_FOR_RAIN}}</h3>

        </div>


    </template>


    <script>
        Polymer({
            is: "dropcube-landing",
            properties: {
                dictionary: {
                    type: Object
                }
            }

        });
    </script>

</dom-module>
