<dom-module id="dropcube-device-list">

    <template>


        <style is="custom-style">
            paper-button {
                background-color: var(--dropcube-main-blue);
                color: var(--dropcube-white);
            }

            paper-card {
                box-sizing: border-box;
                overflow: hidden;
                cursor: pointer;
                margin-bottom: 20px;
            }

            .card-content {
                padding: 0!important;
                left: 50%;
                right: 50%;
                width: 600px;
                margin-left: -300px;
            }

            .card-actions {
                border-top: 1px solid #e8e8e8;
                padding: 5px 16px;
                position: relative;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        </style>

        <iron-ajax auto url="/s/devices" handle-as="json" last-response="{{devices}}" loading="{{loading}}"></iron-ajax>

        <dropcube-container>

            <div class="layout-row layout-wrap layout-align-space-between layout-align-xs-center-center">
                <template is="dom-repeat" items="[[devices.data]]" as="device">

                    <paper-card class="cyan flex-45 flex-xs-100 flex-md-30 flex-gt-md-30 flex-gt-lg-20">
                        <div class="card-content">
                            <a href="/device/[[device.id]]">
                                <google-map-static api-key="AIzaSyCgLJCZYhd_cFHlI5JZXNsGuCqamoQiGpM" lat="[[device.lat]]" lng="[[device.lng]]" size-x="600" size-y="100"></google-map-static>
                            </a>
                        </div>
                        <div class="card-actions">
                            <a href="/device/[[device.id]]">
                                <span class="flow-text">[[device.name]]</span>
                            </a>
                        </div>
                    </paper-card>
                </template>
            </div>

        </dropcube-container>

    </template>


    <script>
        Polymer({
            is: "dropcube-device-list",
            properties: {
                dictionary: {
                    type: Object
                },
                loading: {
                    type: Boolean,
                    notify: true
                }
            }

        });
    </script>

</dom-module>
