<link rel="import" href="/bower_components/polymer/polymer.html">

<!-- .............. POLYMER COMPONENTS  .............. -->
<!--<link rel="import" href="/bower_components/parallax-element/parallax-element.html">-->
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/google-map-static/google-map-static.html">


<!-- .............. APP COMPONENTS  .............. -->
<link rel="import" href="dropcube-container.html">

<dom-module id="dropcube-device-list">

    <template>

        <style include="dropcube-styles"></style>

        <style is="custom-style">
            paper-button {
                background-color: var(--dropcube-main-blue);
                color: var(--dropcube-white);
            }

            #notes {
                @apply(--layout-vertical);
                @apply(--layout-wrap);
                height: 344px;
                width: 384px;
            }

            #notes> paper-card {
                box-sizing: border-box;
                max-width: 184px;
                margin: 4px;
                flex: 0 0 auto;
            }

            .card-content{
              padding: 0!important;
            }
        </style>

        <iron-ajax auto url="/s/devices" handle-as="json" last-response="{{devices}}"></iron-ajax>

        <dropcube-container>

            <div id="notes">
                <template is="dom-repeat" items="[[devices.data]]" as="device">
                    <paper-card class="cyan">
                        <div class="card-content">
                            <google-map-static api-key="AIzaSyCgLJCZYhd_cFHlI5JZXNsGuCqamoQiGpM" lat="[[device.lat]]" lng="[[device.lng]]" size-x="184" size-y="100"></google-map-static>
                        </div>
                        <div class="card-actions">
                            Device:
                            <span>[[device.name]]</span>
                        </div>
                    </paper-card>
                </template>
            </div>


        </dropcube-container>

    </template>


    <script>
        Polymer({
            is: "dropcube-device-list",
            properties: {
                dictionary: {
                    type: Object
                }
            }

        });
    </script>

</dom-module>
