<link rel="import" href="/bower_components/polymer/polymer.html">

<!-- .............. POLYMER COMPONENTS  .............. -->
<!--<link rel="import" href="/bower_components/parallax-element/parallax-element.html">-->


<!-- .............. APP COMPONENTS  .............. -->
<link rel="import" href="dropcube-container.html">

<dom-module id="dropcube-footer">

    <template>

        
        <style is="custom-style">
            :host {
                background-color: var(--dropcube-main-blue);
                display: block;
                color: var(--dropcube-white);
            }

            h4 {
                color: var(--dropcube-white);
            }

            dropcube-container {
                height: 100px;
            }

            .weather-cool {
                width: 100%;
                height: auto;
            }
        </style>

        <dropcube-container class="layout-row layout-align-center-center">

            <div class="layout-row layout-margin layout-align-center-center layout-align-space-around">
              <div class="flex-60">

              </div>
                <div class="flex-20">
                </div>

            </div>

        </dropcube-container>

    </template>


    <script>
        Polymer({
            is: "dropcube-footer",
            properties: {
                dictionary: {
                    type: Object
                }
            }

        });
    </script>

</dom-module>
