<dom-module id="dropcube-helps">

    <template>

  <iframe src="https://sites.google.com/site/thedropcubes/help" frameborder="0" style="overflow:hidden;height:100%;width:100%" height="100%" width="100%"></iframe>

    </template>
<script>

Polymer({
    is: "dropcube-helps",
    properties: {
        dictionary: {
            type: Object
        },
        loading :{
          type : Boolean,
          notify : true
        },
        _loading1 :{
          type : Boolean
        },
        _loading2 :{
          type : Boolean
        }
    }
  });
</script>
</dom-module>
