<dom-module id="dropcube-devices">

    <template>


        <style>
            paper-toolbar {
                padding: 0 16px;
                position: relative;
                min-height: 64px;
                top: -6px;
                left: 0;
                width: 100%;
                color: var(--dropcube-black);
                background-color: var(--dropcube-white);
                border-bottom: 1px solid var(--dropcube-grey-border);
            }

            paper-dialog {
                max-width: 400px;
            }

            paper-button {
                color: var(--dropcube-main-blue);
            }

            paper-button.dismiss:hover {
                background: var(--dropcube-grey-border);
                color: var(--dropcube-white);
            }

            paper-button.confirm {
                background-color: var(--dropcube-main-blue);
                color: var(--dropcube-white);
            }

            paper-button.confirm[disabled] {
                color: var(--dropcube-grey);
            }

            paper-dialog .buttons {
                margin: 10px;
            }

            paper-input {
                --paper-input-container-focus-color: var(--dropcube-main-blue);
            }
        </style>

        <iron-ajax id="newDevice" method="POST" url="/s/devices" content-type="application/json;charset=UTF-8" handle-as="json" on-response="_onResponse" last-response="{{deviceData}}" loading="{{_loading2}}"></iron-ajax>

        <!--  Parallax Section  -->
        <paper-toolbar class="layout-row layout-align-start-center">
            <h5 class="subtitle">Devices</h5>
        </paper-toolbar>


            <dropcube-new-device on-clik="_openModal"></dropcube-new-device>
            <dropcube-device-list id="deviceList" loading="{{_loading1}}"></dropcube-device-list>


        <paper-dialog id="actions">
            <h2>{{dictionary.DEVICES.ADD_NEW}}</h2>

            <paper-input noink name="name" label="Name" value="{{_deviceName}}" required></paper-input>
            <p>
                {{dictionary.DEVICES.NEW_ADVICE}}
            </p>
            <div class="buttons">
                <paper-button class="dismiss" noink dialog-dismiss>{{dictionary.GENERIC.CANCEL}}</paper-button>
                <paper-button class="confirm" noink on-click="_newDevice" disabled="{{disableAccept}}">Accept</paper-button>
            </div>
        </paper-dialog>


    </template>

    <script>
        Polymer({
            is: "dropcube-devices",
            properties: {
                dictionary: {
                    type: Object
                },
                loading :{
                  type : Boolean,
                  notify : true
                },
                _loading1 :{
                  type : Boolean
                },
                _loading2 :{
                  type : Boolean
                }
            },
            listeners: {
                'clik': '_openModal',
                'afterdelete': '_onResponse'
            },
            observers: [
                '_loading(_loading1, _loading2)'
            ],
            _openModal: function() {
                actions.open();
            },
            _newDevice: function() {
                this.$.newDevice.body = JSON.stringify({
                    name: this._deviceName
                });
                this.$.newDevice.generateRequest();
                actions.close();
            },
            _loading : function(loading1, loading2){
              console.log(loading1);
              console.log(loading2);
              this.loading = loading1 || loading2;
            },
            _onResponse : function(){
              this.$.deviceList.fire("get");
            }
        });
    </script>

</dom-module>
