<dom-module id="dropcube-main">

    <template>



        <style>
            sample-content {
                padding-top: 212px;
            }

            .spacer {
                height: calc(100vh - 64px);
            }
        </style>

        <!--  Parallax Section  -->
        <dropcube-main-header dictionary="{{dictionary}}" user="{{user}}"></dropcube-main-header>

        <div class="spacer"></div>

        <dropcube-intro dictionary="{{dictionary}}"></dropcube-intro>

        <dropcube-summary-1 dictionary="{{dictionary}}"></dropcube-summary-1>

        <dropcube-summary-2 dictionary="{{dictionary}}"></dropcube-summary-2>

        <dropcube-summary-3 dictionary="{{dictionary}}"></dropcube-summary-3>

    </template>

    <script>
        Polymer({
            is: "dropcube-main",
            properties: {
                user: {
                    type: Object
                },
                dictionary: {
                    type: Object
                },
                dinosaurs: {
                    type: Array,
                    value: [
                        'allosaurus',
                        'brontosaurus',
                        'carcharodontosaurus',
                        'diplodocus',
                        'ekrixinatosaurus',
                        'fukuiraptor'
                    ]
                }
            }

        });
    </script>

</dom-module>
