<dom-module id="dropcube-device">

    <template>

        <style is="custom-style">
            :host {
                --paper-tabs-selection-bar-color: var(--dropcube-main-blue);
            }

            paper-toolbar {
                padding: 0 16px;
                position: relative;
                min-height: 64px;
                left: 0;
                width: 100%;
                color: var(--dropcube-black);
                background-color: var(--dropcube-white);
                border-bottom: 1px solid var(--dropcube-grey-border);
            }

            paper-tabs {
                border-bottom: 1px solid #d3d3d3;
            }

            iron-pages {
                height: calc(100% - 12px);
            }

            .iron-selected {
                height: calc(100% - 100px);
            }
        </style>

        <!--  Parallax Section  -->
        <paper-toolbar class="layout-row layout-align-start-center layout-align-space-between">
            <a href="/devices">
                <h5 class="subtitle">Devices</h5>
            </a>
            <dropcube-edit-position dictionary="{{dictionary}}" device="{{device}}" show="{{_showMapButtons(selected)}}" is-editing="{{_editPosition}}" on-save="_onSave"></dropcube-edit-position>
        </paper-toolbar>

        <iron-ajax id="deviceGet" url="/s/devices/[[route.id]]" handle-as="json" on-response="_onResponse" last-response="{{deviceData}}" loading="{{_loading1}}"></iron-ajax>
        <iron-ajax id="putDevice" method="PUT" url="/s/devices/[[route.id]]" content-type="application/json;charset=UTF-8" handle-as="json" on-response="_onResponse" last-response="{{deviceData}}" loading="{{_loading2}}"></iron-ajax>

        <paper-tabs selected="{{selected}}" scrollable>
            <paper-tab>General</paper-tab>
            <paper-tab>Mapa</paper-tab>
            <paper-tab>Configuración</paper-tab>
        </paper-tabs>
        <iron-pages selected="{{selected}}">
            <div>
              <dropcube-device-weather-info device="{{device}}" dictionary="{{dictionary}}" loading="{{_loading4}}"></dropcube-device-weather-info>
            </div>
            <div>
                <dropcube-device-map device="{{device}}" dictionary="{{dictionary}}" disable-control="{{!_editPosition}}"></dropcube-device-map>
            </div>
            <div>
                <dropcube-device-main-info id="mainInfo" dictionary="{{dictionary}}" device="{{device}}" loading="{{_loading3}}"></dropcube-device-main-info>
            </div>
        </iron-pages>

        </div>

    </template>

    <script>
        Polymer({
            is: "dropcube-device",
            properties: {
                dictionary: {
                    type: Object
                },
                device : {
                  type: Object
                },
                route: {
                    type: Object
                },
                selected: {
                    type: Number,
                    value: 0
                },
                loading: {
                    type: Boolean,
                    notify: true
                },
                _loading1: {
                    type: Boolean,
                    value: false,
                    observer: '_loadingObs'
                },
                _loading2: {
                    type: Boolean,
                    value: false,
                    observer: '_loadingObs'
                },
                _loading3: {
                    type: Boolean,
                    value: false,
                    observer: '_loadingObs'
                },
                _loading4: {
                    type: Boolean,
                    value: false,
                    observer: '_loadingObs'
                },
                _editPosition: {
                    type: Boolean,
                    value: false
                }
            },
            observers: [
                '_routeChanged(route.*)'
            ],
            _routeChanged: function(route) {

                if (route && route.value && route.value.id) {
                    this.$.deviceGet.generateRequest();
                }

            },
            _loadingObs: function() {
                this.loading = this._loading1 || this._loading2 || this._loading3 || this._loading4;
            },
            _showMapButtons: function(tab) {
                return (tab == 1);
            },
            _onResponse: function() {
                this.device = (this.deviceData && this.deviceData.data) ? this.deviceData.data : null;
            },
            _onSave: function() {
                this.$.putDevice.body = JSON.stringify(this.device);
                this.$.putDevice.generateRequest();
            }
        });
    </script>

</dom-module>
