<!--  Parallax Section  -->
<div class="parallax-container">
    <div class="parallax">
        <div class="trademark-parallax">
            <div class="row container">
              <br/>
                <h2 class="header light exo trademark-main">drop cube</h2>
                <br/>
                <span id="logo-big"></span>
                <br/><br/><br/>
                <h3 class="header thin exo trademark-main">{{ 'MAIN_PAGE.PREPARE_FOR_RAIN' | translate }}</h3>
            </div>
        </div>
    </div>
</div>
<div class="section white">
	<div class="block-100"></div>
    <div class="row container valign-wrapper">
    	<div class="col s12 m6 center-align valign hide-on-small-only">
    		<img src="/assets/images/weather-moto.png"/>
    	</div>
    	<div class="col s12 m6">
            <h4 class="header light">{{'MAIN_PAGE.OH_NO' | translate }}</h4>
            <p class="flow-text thin">{{'MAIN_PAGE.WOULD_YOU' | translate }}</p>
        </div>
    </div>
    <div class="row container  hide-on-med-and-up">
      <div class="col s12 m6 center-align ">
          <img src="/assets/images/weather-moto.png"/>
      </div>
    </div>
	<div class="row container valign-wrapper">

    	<div class="col s12 m6">
            <h4 class="header light">{{'MAIN_PAGE.WHAT_IS' | translate }}</h4>
            <p class="flow-text thin">{{'MAIN_PAGE.DROP_CUBE_IS' | translate }}</p>
        </div>
        <div class="col s12 m6 center-align valign hide-on-small-only">
    		<img src="/assets/images/Wifi-128.png"/>
    	</div>
    </div>
    <div class="row container  hide-on-med-and-up">
      <div class="col s12 m6 center-align ">
          <img src="/assets/images/Wifi-128.png"/>
      </div>
    </div>
    <div class="row container valign-wrapper">
    	<div class="col s12 m6 center-align valign hide-on-small-only">
    		<img src="/assets/images/gears.png"/>
    	</div>
    	<div class="col s12 m6">
            <h4 class="header light">{{'MAIN_PAGE.HOW_DOES_IT_WORK' | translate }}</h4>
            <p class="flow-text thin">{{'MAIN_PAGE.DO_YOU_PREFER' | translate }}</p>
        </div>
    </div>
    <div class="row container  hide-on-med-and-up">
      <div class="col s12 m6 center-align ">
          <img src="/assets/images/gears.png"/>
      </div>
    </div>
    <div class="block-100"></div>
</div>

<div>
    <div class="video-wrapper">
    	<div class="row container center-align">
    		<h4 class="header thin">{{'MAIN_PAGE.SEE_HOW_WORKS' | translate }}</h4>
    		<br/>
    		<div class="video-container">
			<iframe src="https://www.youtube.com/embed/t-Pb_2xvipQ"frameborder="0" allowfullscreen="" id="fitvid242247"></iframe>
			</div>
		</div>
	</div>
</div>

<div class="block-100"></div>
<div class="row container valign-wrapper">

    <div class="col s12 m6">
          <h4 class="header light">{{'MAIN_PAGE.IN_YOUR_MOBILE' | translate }}</h4>
          <p class="flow-text thin">{{'MAIN_PAGE.USING_YOUR_MOBILE' | translate }}</p>
      </div>
      <div class="col s12 m6 center-align valign hide-on-small-only">
        <img class="responsive-img" src="https://c2.staticflickr.com/2/1706/24397053754_757ae386ab_z.jpg"/>
      </div>
  </div>
  <div class="row container  hide-on-med-and-up">
    <div class="col s6 m6 center-align push-s3">
        <img class="responsive-img" src="https://c2.staticflickr.com/2/1706/24397053754_757ae386ab_z.jpg"/>
    </div>
  </div>
  <div class="block-100"></div>
<div class="parallax-container small">
      <div class="parallax"><img class="parallax-image" src="https://c2.staticflickr.com/2/1565/25000556776_59bcd14b9f_h.jpg"></div>
    </div>

<div class="section white">
  <div class="block-100"></div>
    <div class="row container">
      <div class="col s12 m12 center-align">
       <h4 class="header light">{{'MAIN_PAGE.READY_TO_BE_READY' | translate }}</h4>

       <h5>{{'MAIN_PAGE.CHECKOUT_YOURS' | translate}} <mark>{{'MAIN_PAGE.PRICE' | translate}}</mark></h5>
       <p></p>
          <ngcart-addtocart id="dropcube" name="dropcube" price="39" data="item" quantity="1" quantity-max="2">{{'MAIN_PAGE.ADD_CART' | translate }}</ngcart-addtocart>
    </div>
  </div>

  <div class="block-100"></div>
</div>

<div class="parallax-container small" >
    <div class="diy" ng-click="goTo('/diy')">
      <h3 class="header light exo trademark-main">Do you want to know how to build your dropcube?</h3>
      <h2 class="header light exo trademark-main">Learn how!</h2>
    </div>
    <img class="parallax-image" src="/assets/images/code.jpg">
</div>

<script type="text/ng-template" id="bower_components/ngCart/template/ngCart/addtocart.html">

<div ng-hide="attrs.id">
    <a class="btn btn-large waves-effect waves-light light-blue" ng-disabled="true" ng-transclude></a>
</div>
<div ng-show="attrs.id" >
    <div ng-hide="inCart()">
        <span ng-show="quantityMax">
            <select name="quantity" id="quantity" ng-model="q"
                    ng-options=" v for v in qtyOpt"></select>
        </span>
        <a class="btn btn-large waves-effect waves-light light-blue"
           ng-click="ngCart.addItem(id, name, price, q, data)"
           ng-transclude></a>
    </div>
    <div>
    <a ng-show="inCart()" class="btn btn-large waves-effect waves-light light-blue" href="/checkout">Go to your cart</a>
    </div>
    <p></p>
    <div ng-show="inCart()">
        This item is in your cart. <a ng-click="ngCart.removeItemById(id)" style="cursor: pointer;">Remove</a>
    </div>
</div>
</script>


